{{ if eq .chezmoi.os "darwin" -}}

setopt autocd
setopt correct

autoload -Uz select-word-style
select-word-style bash

autoload -U compinit
compinit

# aliases
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias ls="eza --icons=auto --group-directories-first"
alias ll="ls -l"
alias la="ls -la"
alias lt="ls -T"
alias cb='for i in {0..15}; do printf "%3d: \e[48;5:${i}m   \e[0m " $i; [[ $((($i+1)%8)) == 0 ]] && echo; done'

man() {
  command man "$@" | col -bx | bat -l man --paging=always --style=plain
}

# Sketchybar interactivity overloads
function brew() {
  command brew "$@"

  if [[ $* =~ "upgrade" ]] || [[ $* =~ "update" ]] || [[ $* =~ "outdated" ]]; then
    sketchybar --trigger brew_update
  fi
}

# mise
eval "$(mise activate zsh)"

# oh-my-posh
if [ "$TERM_PROGRAM" != "Apple_Terminal" ] && [ "$TERM_PROGRAM" != "WarpTerminal" ]; then
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/froggologies.omp.yaml)"
fi

source $(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc

# Set up fzf key bindings and fuzzy completion
source <(fzf --zsh)

# source antidote
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh

# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load

export FZF_DEFAULT_OPTS=" \
--style full \
--layout=reverse \
--height=60% \
--preview 'fzf-preview.sh {}' \
--color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 \
--color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC \
--color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 \
--color=selected-bg:#45475A \
--color=border:#6C7086,label:#CDD6F4"

# To make fzf-tab follow FZF_DEFAULT_OPTS.
# NOTE: This may lead to unexpected behavior since some flags break this plugin. See Aloxaf/fzf-tab#455.
# zstyle ':fzf-tab:*' use-fzf-default-opts yes

zstyle ':fzf-tab:*' fzf-flags --style=full --height=60% --color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8,fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC,marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8,selected-bg:#45475A,border:#6C7086,label:#CDD6F4

# set descriptions format to enable group support
# NOTE: don't use escape sequences (like '%F{red}%d%f') here, fzf-tab will ignore them
zstyle ':completion:*:descriptions' format '[%d]'

# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

zstyle ':fzf-tab:complete:(cat|bat|ls|eza|vim|nvim|antigravity|cd):*' fzf-preview '
  if [[ -d $realpath ]]; then
    eza -1 --icons=auto --color=always "$realpath"
  elif [[ -f $realpath ]]; then
    bat --style=plain --color=always "$realpath"
  else
    # nothing — just stay quiet
    echo ""
  fi
'

{{- end }}