{{- if eq .chezmoi.os "darwin" -}}

setopt autocd
setopt correct

EDITOR=nvim

# aliases
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias ls="eza --icons=auto --group-directories-first"
alias la="ls -la"
alias lt="ls -T"

# Sketchybar interactivity overloads
function brew() {
  command brew "$@"

  if [[ $* =~ "upgrade" ]] || [[ $* =~ "update" ]] || [[ $* =~ "outdated" ]]; then
    sketchybar --trigger brew_update
  fi
}

eval "$(mise activate zsh)"

if [ "$TERM_PROGRAM" != "Apple_Terminal" ] && [ "$TERM_PROGRAM" != "WarpTerminal" ]; then
eval "$(oh-my-posh init zsh)"
fi

{{- end -}}
