{{- if eq .chezmoi.os "darwin" -}}

#!/bin/sh

Brewfile=~/.local/share/chezmoi/src/Brewfile
brew bundle --file=$Brewfile
brew bundle cleanup --force --file=$Brewfile

SERVICES=(sketchybar borders)
for svc in "${SERVICES[@]}"; do
  brew services start "$svc"
done

{{- end -}}